.slashed__price {
  font-size: 0.8rem;
}

.product__price {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  color: #000000c7;
}

#product__box {
  /* box-shadow: none; */
  margin-top: 1rem;
}

#product__image {
  width: 70%;
}

.cart__button {
  background: #ed5134;
  width: 10rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

.product__name {
  color: #000000c7;
  font-size: 0.9rem;
}

.no__products__message {
  color: grey;
  font-size: 1rem;
  margin-top: -0.7rem;
}
